
#titulo{
    color: rgb(222, 113, 131);
    padding:  10px;
    margin: 10px;
    text-shadow: black}
.texto{
    font-size: xx-smalls;
    font-style: italic;
    color: palevioletred;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.photo1{
    width:30%;
    justify-content: left;
}
.photo2{
    width:40%;
    justify-content: center;
}
.photo3{
    width: 30%;
    justify-content: right;
}

.fotodescricao{
    width: 700px;
    
}
.imgcanais{
    width: 300px;
   justify-content: end;
   align-items: flex-end;
}
.social{
    width: 50px;
    margin: 2px;
    padding: 5px;
}
.container{
    display: flex;
}
@media(max-width: 500){
    .container { flex-direction: row};
}

.container > div{
    width: 300px
}
.nav-button{
    margin: 10px;
    border: 0px solid pink;
   padding: 20px;
}
.nav-button:hover{
    background-color: pink;
    color: palevioletred
}
hr{
    display: none;
}

li { 
    display: inline;
    
}
a {
    text-decoration: none;
    font-size: x-large;
}
.formulario{
    width: 400px;
    padding: 10px;
    margin-right: 200px;
    
}